/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(//fonts.googleapis.com/css?family=Trochut);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

body {
	background-color: black;
}
h1.appname {
	font-family: 'Trochut', cursive;
	font-size: 100px;
	letter-spacing: 2px;
	text-align: center;
}
#animate {
	font-family: 'Slabo 27px', serif;
}
h3 {
	text-align: center;
}

div.spin{
  border-radius:80%;
  height:2px; width:2px; /* To allow border-radius to work */
  position:absolute;
  top:80%; left:80%;
  margin-top:-1px; margin-left:-1px;
  box-shadow:
    -75px -125px 0 40px #F3E2A9,
     75px -125px 0 40px #F5DA81,
    150px    0px 0 40px #F7BE81,
     75px  125px 0 40px #FAAC58,
    -75px  125px 0 40px #FE9A2E,
   -150px    0px 0 40px #DF7401;
  -webkit-animation:rotate 12s infinite linear;
  animation:rotate 12s infinite linear;
}
@keyframes rotate {
  16.67% {
    box-shadow:
      -75px -125px 0 40px #DF7401,
       75px -125px 0 40px #F3E2A9,
      150px    0px 0 40px #F5DA81,
       75px  125px 0 40px #F7BE81,
      -75px  125px 0 40px #FAAC58,
     -150px    0px 0 40px #FE9A2E;
  }
  33.33%   { 
    box-shadow:
      -75px -125px 0 40px #FE9A2E,
       75px -125px 0 40px #DF7401,
      150px    0px 0 40px #F3E2A9,
       75px  125px 0 40px #F5DA81,
      -75px  125px 0 40px #F7BE81,
     -150px    0px 0 40px #FAAC58;
  }
  50%      { 
    box-shadow:
      -75px -125px 0 40px #FAAC58,
       75px -125px 0 40px #FE9A2E,
      150px    0px 0 40px #DF7401,
       75px  125px 0 40px #F3E2A9,
      -75px  125px 0 40px #F5DA81,
     -150px    0px 0 40px #F7BE81;
  }
  66.67%   { 
    box-shadow:
      -75px -125px 0 40px #F7BE81,
       75px -125px 0 40px #FAAC58,
      150px    0px 0 40px #FE9A2E,
       75px  125px 0 40px #DF7401,
      -75px  125px 0 40px #F3E2A9,
     -150px    0px 0 40px #F5DA81;
  }
  88.88%   { 
    box-shadow:
      -75px -125px 0 40px #F5DA81,
       75px -125px 0 40px #F7BE81,
      150px    0px 0 40px #FAAC58,
       75px  125px 0 40px #FE9A2E,
      -75px  125px 0 40px #DF7401,
     -150px    0px 0 40px #F3E2A9;
  }
  100% {
    transform:rotate(-360deg);
    box-shadow:
      -75px -125px 0 40px #F3E2A9,
       75px -125px 0 40px #F5DA81,
      150px    0px 0 40px #F7BE81,
       75px  125px 0 40px #FAAC58,
      -75px  125px 0 40px #FE9A2E,
     -150px    0px 0 40px #DF7401;
  }
}
@-webkit-keyframes rotate {
  16.67% {
    box-shadow:
      -75px -125px 0 40px #F3E2A9,
       75px -125px 0 40px #DF7401,
      150px    0px 0 40px #F5DA81,
       75px  125px 0 40px #F7BE81,
      -75px  125px 0 40px #FAAC58,
     -150px    0px 0 40px #FE9A2E;
  }
  33.33%   { 
    box-shadow:
      -75px -125px 0 40px #FE9A2E,
       75px -125px 0 40px #F3E2A9,
      150px    0px 0 40px #DF7401,
       75px  125px 0 40px #F5DA81,
      -75px  125px 0 40px #F7BE81,
     -150px    0px 0 40px #FAAC58;
  }
  50%      { 
    box-shadow:
      -75px -125px 0 40px #FAAC58,
       75px -125px 0 40px #FE9A2E,
      150px    0px 0 40px #F3E2A9,
       75px  125px 0 40px #DF7401,
      -75px  125px 0 40px #F5DA81,
     -150px    0px 0 40px #F7BE81;
  }
  66.67%   { 
    box-shadow:
      -75px -125px 0 40px #F7BE81,
       75px -125px 0 40px #FAAC58,
      150px    0px 0 40px #FE9A2E,
       75px  125px 0 40px #F3E2A9,
      -75px  125px 0 40px #DF7401,
     -150px    0px 0 40px #F5DA81;
  }
  88.88%   { 
    box-shadow:
      -75px -125px 0 40px #F5DA81,
       75px -125px 0 40px #F7BE81,
      150px    0px 0 40px #FAAC58,
       75px  125px 0 40px #FE9A2E,
      -75px  125px 0 40px #F3E2A9,
     -150px    0px 0 40px #DF7401;
  }
  100% {
    -webkit-transform:rotate(-360deg);
    box-shadow:
      -75px -125px 0 40px #DF7401,
       75px -125px 0 40px #F5DA81,
      150px    0px 0 40px #F7BE81,
       75px  125px 0 40px #FAAC58,
      -75px  125px 0 40px #FE9A2E,
     -150px    0px 0 40px #F3E2A9;
  }
}
