/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(//fonts.googleapis.com/css?family=Trochut);
@import url(//fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Muli);

h1.appname {
	font-family: 'Trochut', cursive;
  color:white;
	font-size: 100px;
	letter-spacing: 2px;
	text-align: center;
  background-color:rgb(231,76,60);
  padding-bottom: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000
}
#animate {
	font-family: 'Slabo 27px', serif;
}

object {
  padding-top: 50px;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgb(206,32,33);
  font-family: 'Oswald', sans-serif;
}
h3.title {
  color: rgb(206,32,33);
	text-align: center;
	padding-top: 30px;
}

h4 {
  text-align: center;
  color: rgb(206,32,33);
  font-family: 'Fjalla One', sans-serif;
}
p {
  font-family: 'Muli', sans-serif;
  text-align: center
}

div.spin{
  border-radius:80%;
  height:2px; width:2px; /* To allow border-radius to work */
  position:absolute;
  top:80%; left:80%;
  margin-top:-1px; margin-left:-1px;
  box-shadow:
    -75px -125px 0 40px rgb(231,76,60),
     75px -125px 0 40px rgb(192,57,43),
    150px    0px 0 40px rgb(140,152,153),
     75px  125px 0 40px rgb(149,165,166),
    -75px  125px 0 40px rgb(203,208,211),
   -150px    0px 0 40px rgb(236,240,241);
  -webkit-animation:rotate 12s infinite linear;
  animation:rotate 12s infinite linear;
}
@keyframes rotate {
  16.67% {
    box-shadow:
      -75px -125px 0 40px rgb(236,240,241),
       75px -125px 0 40px rgb(231,76,60),
      150px    0px 0 40px rgb(192,57,43),
       75px  125px 0 40px rgb(140,152,153),
      -75px  125px 0 40px rgb(149,165,166),
     -150px    0px 0 40px rgb(203,208,211),
  }
  33.33%   { 
    box-shadow:
      -75px -125px 0 40px rgb(203,208,211),
       75px -125px 0 40px rgb(236,240,241),
      150px    0px 0 40px rgb(231,76,60),
       75px  125px 0 40px rgb(192,57,43),
      -75px  125px 0 40px rgb(140,152,153),
     -150px    0px 0 40px rgb(149,165,166),
  }
  50%      { 
    box-shadow:
      -75px -125px 0 40px rgb(149,165,166),
       75px -125px 0 40px rgb(203,208,211),
      150px    0px 0 40px rgb(236,240,241),
       75px  125px 0 40px rgb(231,76,60),
      -75px  125px 0 40px rgb(192,57,43),
     -150px    0px 0 40px rgb(140,152,153),
  }
  66.67%   { 
    box-shadow:
      -75px -125px 0 40px rgb(140,152,153),
       75px -125px 0 40px rgb(149,165,166),
      150px    0px 0 40px rgb(203,208,211),
       75px  125px 0 40px rgb(236,240,241),
      -75px  125px 0 40px rgb(231,76,60),
     -150px    0px 0 40px rgb(192,57,43);
  }
  88.88%   { 
    box-shadow:
      -75px -125px 0 40px rgb(192,57,43),
       75px -125px 0 40px rgb(140,152,153),
      150px    0px 0 40px rgb(149,165,166),
       75px  125px 0 40px rgb(203,208,211),
      -75px  125px 0 40px rgb(236,240,241),
     -150px    0px 0 40px rgb(231,76,60);
  }
  100% {
    transform:rotate(-360deg);
    box-shadow:
      -75px -125px 0 40px rgb(231,76,60),
       75px -125px 0 40px rgb(192,57,43),
      150px    0px 0 40px rgb(140,152,153),
       75px  125px 0 40px rgb(149,165,166),
      -75px  125px 0 40px rgb(203,208,211),
     -150px    0px 0 40px rgb(236,240,241);
  }
}
@-webkit-keyframes rotate {
  16.67% {
    box-shadow:
      -75px -125px 0 40px rgb(236,240,241),
       75px -125px 0 40px rgb(231,76,60),
      150px    0px 0 40px rgb(192,57,43),
       75px  125px 0 40px rgb(140,152,153),
      -75px  125px 0 40px rgb(149,165,166),
     -150px    0px 0 40px rgb(203,208,211),
  }
  33.33%   { 
    box-shadow:
      -75px -125px 0 40px rgb(203,208,211),
       75px -125px 0 40px rgb(236,240,241),
      150px    0px 0 40px rgb(231,76,60),
       75px  125px 0 40px rgb(192,57,43),
      -75px  125px 0 40px rgb(140,152,153),
     -150px    0px 0 40px rgb(149,165,166),
  }
  50%      { 
    box-shadow:
      -75px -125px 0 40px rgb(149,165,166),
       75px -125px 0 40px rgb(203,208,211),
      150px    0px 0 40px rgb(236,240,241),
       75px  125px 0 40px rgb(231,76,60),
      -75px  125px 0 40px rgb(192,57,43),
     -150px    0px 0 40px rgb(140,152,153),
  }
  66.67%   { 
    box-shadow:
      -75px -125px 0 40px rgb(140,152,153),
       75px -125px 0 40px rgb(149,165,166),
      150px    0px 0 40px rgb(236,240,241),
       75px  125px 0 40px rgb(203,208,211),
      -75px  125px 0 40px rgb(231,76,60),
     -150px    0px 0 40px rgb(192,57,43);
  }
  88.88%   { 
    box-shadow:
      -75px -125px 0 40px rgb(192,57,43),
       75px -125px 0 40px rgb(140,152,153),
      150px    0px 0 40px rgb(149,165,166),
       75px  125px 0 40px rgb(203,208,211),
      -75px  125px 0 40px rgb(236,240,241),
     -150px    0px 0 40px rgb(231,76,60);
  }
  100% {
    -webkit-transform:rotate(-360deg);
    box-shadow:
      -75px -125px 0 40px rgb(231,76,60),
       75px -125px 0 40px rgb(192,57,43),
      150px    0px 0 40px rgb(140,152,153),
       75px  125px 0 40px rgb(149,165,166),
      -75px  125px 0 40px rgb(203,208,211),
     -150px    0px 0 40px rgb(236,240,241),
  }
}

#button {
	padding: 30px;
}

div#info-container{
  background-color: black;
  background-color:rgb(236,240,241);
}
